<section class="search-container">
  <ScrollTracker
    @name="full-page-search"
    @tag={{this.searchTerm}}
    class="hidden"
  />

  <div class="search-header image-search-header" role="search">
    <h1 class="search-page-heading">
      {{i18n "image_search.title"}}
    </h1>
    <p> {{i18n "image_search.description"}} </p>
    <div class="search-bar">
      <SearchTextField
        @value={{this.searchTerm}}
        @aria-label={{i18n "search.search_term_label"}}
        @enter={{action "search" (hash collapseFilters=true)}}
        @hasAutofocus={{this.hasAutofocus}}
        @aria-controls="search-result-count"
        class="full-page-search search no-blur search-query"
      />
      <ComboBox
        @id="search-type"
        @value={{this.search_type}}
        @content={{this.searchTypes}}
        @onChange={{fn (mut this.search_type)}}
        @options={{hash castInteger=true}}
      />
      <DButton
        @action={{fn (action "search") (hash collapseFilters=true)}}
        @icon="search"
        @label="search.search_button"
        @ariaLabel="search.search_button"
        @disabled={{this.searchButtonDisabled}}
        class="btn-primary search-cta"
      />
    </div>

    <div class="search-filters">
      <ImageSearchAdvancedOptions
        @searchTerm={{readonly this.searchTerm}}
        @onChangeSearchTerm={{fn (mut this.searchTerm)}}
        @search={{action "search" (hash collapseFilters=true)}}
        @searchButtonDisabled={{this.searchButtonDisabled}}
        @expandFilters={{this.expandFilters}}
      />
    </div>

    <div class="search-notice">
      {{#if this.invalidSearch}}
        <div class="fps-invalid">
          {{i18n "search.too_short"}}
        </div>
      {{/if}}
    </div>

    {{#if this.searching}}
      {{loading-spinner size="medium"}}
    {{else}}
    {{/if}}
  </div>

  {{#unless (or this.hasResults this.searching)}}
    {{#if this.searchActive}}
      <h3 class="image-search-no-results">{{i18n "search.no_results"}}</h3>
    {{/if}}
  {{/unless}}

  {{#if this.hasResults}}
  <LoadMore @selector=".img-search-result-entry" @action={{action "loadMore"}}>
    <ImageSearchResultEntries
      @resultEntries = {{this.resultEntries}}
    />
    {{#if this.loadingMore}}
      {{loading-spinner size="medium"}}
    {{/if}}
    {{#if this.noMoreResults}}
      <div class="no-more-results">{{i18n "search.no_more_results"}}</div>
    {{/if}}
  </LoadMore>
  {{/if}}
</section>